@import 'mixins';
@import 'reset';
@import 'var';
@import 'nav';
@import 'footer';
@import 'controls';
@import 'directory';
@import 'media-queries';
@import 'overrides';
@import 'animate';
@import 'overrides';

p {
	font-family: $readFont;
	line-height: 1.2;
}
header a {
  text-decoration: none;
}
a {
	font-family: $readFont;
	color: $primColor;
}
a:hover {
	color: $primColor;
}
h1 {
	font-size: 270%;
	font-weight: 800;
	font-family: $titlesFont;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
	font-family: $titlesFont;
	font-size: 200%;
	margin-bottom: 20px;
}
h3 {
	font-family: $readFont;
	font-size: 150%;
	margin-bottom: 20px;
}
h4 {
	font-size: 120%;
  font-family: $readFont;
	margin-bottom: 10px;
}

h6 {
	font-weight: 700;
  font-size: 110%;
  background: darkgray;
  padding: 10px 0 8px 19px;
  margin-top: 30px;
}
.title {
	margin: 0.7rem 0;
}
blockquote {
  margin: 10px 0;
  padding: 15px 50px;
  font-weight: 600;
  font-style: italic;
  border-left: 20px solid #ccc;
  background: $primColor;
  color: white;
	i {
		font-size: 2rem!important;
		color: $light_gray;
		margin-right: 5px;
	}
}
strong {
	font-weight:700;
	font-family: $readFont;
}
// for hightlighting line line of code in paragraph
code {
	font-family: monospace;
	background: rgba($light_gray, 0.5);
	padding: 4px 6px 6px 6px;
}
// for displaying large snippets of code
pre {
	display: inline-block;
	width: 100%;
	background: rgba($gray, 0.8);
	color: #fff;
	padding: 30px;
	font-family: monospace;
	font-size: 0.8rem;
  white-space: pre;
  overflow-y: hidden;
	margin-bottom: 0.5rem;
	/* Replace the & character with &amp;
		Replace the < character with &lt;
		Replace the > character with &gt; */
	&.alt {
		background: rgba($light_gray, 0.8);
	}
}
img {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	display: block;
	max-width: 100%;
	font-size: 0.4rem;
}

body {
  line-height: 1;
	-webkit-font-smoothing: antialiased;
  overflow-x: hidden;
	position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
  color: $black;
	width: 100%;
	position: relative;
	z-index: 1;
}

::-moz-selection {\background: $primColor}

::selection {background: $primColor}

/*-structure*/
header {
	width: 100%;
	min-height: 100px;
}
.header {
	position: relative;
	padding: 20px;
	background-color: $primColor;
	color: #fff;
	text-shadow: 2px 2px 4px rgba($black, 0.5)
}
.home_header {

}
.hero_header {
	background-color: $primColor;
	background-image: url($heroImg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@include flexBox();
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	.hero_banner {
		h2 {margin-bottom: 0.3rem}
		h3 {margin-bottom: 0.7rem;font-weight: bolder;}
	}
}
.hero_banner {
	padding: 20px;
}
.wow:first-child {
	visibility: hidden;
}
main {
	width: 100%;
	min-height: 200vh;//80
}
.page_wrap {
  width: 90%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
	position: relative;
}
.page_section {
  width: 100%;
  padding: 5rem 0;
	position: relative;
}
.mini_page_section {
	width: 100%;
  padding: 2rem 0;
	position: relative;
}

.full_page_section {
  width: 100%;
  min-height: 100vh;
  padding: 5rem 0;
	position: relative;
}
.mini_full_page_section {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
	position: relative;
}

.views {
	width: 100%;
	min-height: 100vh;
	clear: both;
}

// visual cues
.box {
	padding: 1rem;
}
.card_round {
	display: inline-block;
	border-radius: 2px;
	padding: 20px;
}
.card {
	display: inline-block;
	margin: 30px 0;
}
.card_pad {
	display: inline-block;
	margin: 30px 0;
	padding: 20px;
}
.large_card {
	display: inline-block;
	margin: 30px 0;
}
.large_card_pad {
	display: inline-block;
	padding: 60px;
	margin: 30px 0;
}

/*flex containers*/
.flex_start {
	@include flexBox();
	justify-content: flex-start;
	flex-wrap: wrap;
	.card {
		width: 260px;
		margin: 30px;
	}
	.card_pad {
		width: 260px;
		margin: 30px;
	}
}
.flex_center {
	@include flexBox();
	justify-content: center;
	flex-wrap: wrap;
	.card {
		width: 260px;
		margin: 30px;
	}
	.card_pad {
		width: 260px;
		margin: 30px;
	}
}
.flex_around {
	@include flexBox();
	justify-content: space-around;
	flex-wrap: wrap;
	.card {
		width: 260px;
		margin: 30px;
	}
	.card_pad {
		width: 260px;
		margin: 30px;
	}
}
.flex_between {
	@include flexBox();
	justify-content: space-between;
	flex-wrap: wrap;
	.card {
		width: 260px;
		margin: 30px;
	}
	.card_pad {
		width: 260px;
		margin: 30px;
	}
}

// backgrounds
.primColor_solid {
  background-color: $primColor;
  color: $baseColor;
	a {
		color: lighten($light_gray, 10%);
	}
}
.secColor_solid {
  background-color: $secColor;
  color: $baseColor;
	a {
		color: lighten($light_gray, 10%);
	}
}
.accentColor_solid {
  background-color: $accentColor;
  color: $black;
}
.noticeColor_solid {
  background-color: $noticeColor;
  color: $baseColor;
}
.baseColor_solid {
  background-color: $baseColor;
  color: $black;
}

.light_gray_solid {
  background-color: lighten($light_gray, 10%);
  color: $black;
}
.gray_solid {
  background-color: $gray;
  color: #fff;
}
.black_solid {
  background-color: $black;
  color: #fff;
}

/*-page Page Animations
------------------------------------------------------------------------------*/
.page {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
}

/*enter and leave animations*/
.views.ng-enter {
	animation-name: fadeIn;
	animation-duration: 0.8s;
}

.views.ng-leave {
	animation-name: fadeOut;
	animation-duration: 0.8s;
}

/*angular show animations*/
.ng-hide {
	transition: opacity ease-in-out 0.1s;
	opacity: 0;
	display: block!important;
	position: absolute;
}

* {
	transition: opacity ease-in-out 0.2s;
}

main {
  font-size: calc(0.9rem + 0.4vmax);
  .text_body {
    margin-bottom: 2rem;
    line-height: 1.2;
    h4 {
      margin-bottom: 0.6rem;
      font-weight: bold;
    }
    p {
      margin-bottom: 0.5rem;
			&:last-child {
				margin-bottom: 0;
			}
    }
    h5 {
      font-weight: bold;
      margin: 1rem 0 0.4rem 0;
    }
    ul {
      list-style: disc;
      margin-left: 1.6rem;
      margin-bottom: 0.4rem;
      li {
        line-height: 1.4;
      }
    }
  }
}
